@media (min-width: 768px) and (max-width: 991px) {
  .main-post-page {
    margin-left: 0px !important;
  }
}

@media (min-width: 992px) {
  .main-post-page {
    margin-left: 20% !important;
  }
  .post-card {
    width: 80%;
  }
}

body {
  background: var(--user-bg2);
  padding-top: 60px;
}
.main-post-page-pc {
}
.post-btns {
  border: none;
  height: 40px;
  border-radius: 3px;
  color: var(--tertiary);
  background: none;
  transition: 0.5s;
}
.post-btns:hover {
  border: none;
  height: 40px;
  border-radius: 6px;
  color: var(--secondary);
  background: rgb(229, 240, 240);
}

.alert {
  /* margin-top: 30px; */
  z-index: 100;
  border: none;
  border-radius: 8px;
  float: right;
  height: min-content;
}
.alert p {
  margin: 0;
}
.success-alert {
  background: rgba(176, 221, 162, 0.336);
  backdrop-filter: blur(2px);
  color: rgb(0, 85, 0);
}
.error-alert {
  background: rgba(221, 166, 162, 0.336);
  backdrop-filter: blur(8px);
}

.post-detail {
  color: var(--tertiary);
}

.container .user-info-box-inner {
}
.user-info-header {
  margin-bottom: 0;
  height: 300px;
}
.user-info-main {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.158);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 70%;
  margin: auto;
  padding: 20px;
}
.user-info-input-wrap {
  border: none;

  font-size: 14px;
  font-weight: 500;
  display: flex;
  padding: 0 20px;
  border-radius: 0;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.212) !important; */
  height: 37px;
}
.user-information {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 0;
  /* border-bottom: 0.5px solid rgba(0, 0, 0, 0.37) !important; */
  padding: 0 20px;
  margin: 0;
  font-weight: 400;
}
.user-info-input {
  border: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding: 0 !important;
  font-weight: 400;
}
