.navbar {
  position: absolute;
  top: 0px;
  z-index: 10;
}

.user-name {
  color: #484848;
}

.create-post-btn {
  width: 20vw;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 20px;
  text-align: start;
  padding-left: 20px;
  color: var(--quaternary);
  cursor: text;
  text-wrap: nowrap;
  overflow-x: hidden;
}
.nav-item a {
  color: rgb(120, 145, 143) !important;
  font-size: 14px !important;
}

.nav-item a:hover {
  color: rgb(3, 37, 35) !important;
}

.btn {
  background: radial-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(225, 235, 235, 0.8)
  );
  border-radius: 20px;
  text-transform: capitalize;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
.btn:hover {
  color: rgb(0, 0, 0);
}

.navbar-brand {
  font-weight: 900;
}
