.form-legend {
  background: none !important;
  color: var(--secondary);
  margin: 0 !important;
  padding-left: 0 !important;
}
.login-page-form {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.253);
  background: whitesmoke;
}
.form-box {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.253);
  background: rgb(245, 245, 245);
  width: 60%;
  margin: 0px auto 0px auto;
}
.field input {
  border: none !important;
  outline: none;
  border-radius: 20px;
  border-bottom: solid red;
}
